<!doctype html>
<html>
  <head>
    <title>contraseña generada</title>
    <link rel="stylesheet" href="/static/css/main.css">
  </head>
  <body>
    <div class="loader">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div id="generating-message">Generando contraseña...</div>
    </div>

    <div id="content" style="display: none;">
      <h1>Su nueva contraseña es</h1>
      <p id="password">{{ password }}</p>
      <button id="copy-password">Copiar Contraseña</button>
    </div>

    <script src="/static/js/password.js"></script>
  </body>
</html>
