<!doctype html>
<html>
  <head>
    <title>contraseña generada</title>
    <link rel="stylesheet" href="/static/css/main.css">
  </head>
  <body>
    <div class="loader">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div id="generating-message">Generando contraseña...</div>
    </div>

    <div id="content" style="display: none;">
      <h1>Su nueva contraseña es</h1>
      <p id="password">{{ password }}</p>
      <button id="copy-password">Copiar Contraseña</button>
    </div>

    <script>
      const copyButton = document.getElementById('copy-password');
      const copyMessage = document.getElementById('copy-message');
      const loader = document.querySelector('.loader');
      const content = document.getElementById('content');

      copyButton.addEventListener('click', () => {
        const password = document.querySelector('p').textContent;
        navigator.clipboard.writeText(password);
        copyMessage.style.display = 'block';
        setTimeout(() => {
          copyMessage.style.display = 'none';
        }, 3000);
      });

      // Simula una carga de 6 segundos antes de mostrar el contenido
      setTimeout(() => {
        loader.style.display = 'none';
        content.style.display = 'block';
      }, 4000);

      const message = document.getElementById('generating-message');
      message.textContent = 'Generando contraseña...';
    </script>
  </body>
</html>
