<!doctype html>
<html>
  <head>
    <title>contraseña generada</title>
    <link rel="stylesheet" href="/static/css/main.css">
  </head>
  <body>
    <h1>Su nueva contraseña es</h1>
    <p id="password">{{ password }}</p>
    <button id="copy-password">Copiar Contraseña</button>

    <script>
      const copyButton = document.getElementById('copy-password');
      const copyMessage = document.getElementById('copy-message');

      copyButton.addEventListener('click', () => {
        const password = document.querySelector('p').textContent;
        navigator.clipboard.writeText(password);
        copyMessage.style.display = 'block';
        setTimeout(() => {
          copyMessage.style.display = 'none';
        }, 3000);
      });
    </script>
  </body>
</html>